div h1{
    text-align: center;
    margin-top: -10px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
}

div h1 div{
	background-color: #b2c58b;
	border-radius: 4px 4px 0 0;
	padding-top:3px;
	padding-bottom:3px;
}

a{
	color:#3366ff;
	text-decoration:none;
	font-weight:bold;
}

a:hover{
	text-decoration:underline;
}

footer{
	height:30px;
	width:100%;
}

#main{
  height: 890px;
  width: 980px;
  margin: auto; 
  font-family: Helvetica;
}
#menu{
  height: 50px;
  width: 980px;
}
#plocha{
  position:absolute;
  top:0px;
  height: 800px;
  width: 780px;
  font-family: Helvetica;
}
#tutorial_panel{
	position:absolute;
	top:500px;
	width:720px;
	height:240px;
	padding:30px;
}
#content{	
  position:absolute;
  top:70px;
  min-height: 800px;
  width: 980px;
}
#control_panel{
  position: absolute;	
  height: 800px;
  width: 200px;
  margin-left:780px;
  top:0px;
  padding:0px;
}
#odborny_popis{
  position: absolute;	
  padding:10px;	
  width:900px;
  min-height:525px;		
  border: 1px solid black;
  margin-left:30px;
  margin-bottom:100px;
  background-color:#ffffff; 

}

#loginPanel{
	background-color:#ffffff;
	width:200px;
	height:160px;
	font-size:20px;
	font-family: Helvetica;
	margin-left:0px;
}
	
#loginPanel a{
  display:block;
  padding-left:20px;
  padding-top:2px;
  padding-bottom:2px;
  font-family: Helvetica;
  color:#000;
  text-decoration: none;
  font-size:17px;
}

#loginPanel a:hover{
  padding-top:2px;
  padding-bottom:2px;
  background:#AAAAAA;
  color: #ffffff;
  width:180px;
  -webkit-border-radius: 12px 0 0 12px;
  -moz-border-radius: 12px 0 0 12px;
  border-radius: 12px 0 0 12px;
}

.spravnaMoznost{
	background-color:#33EE00;
}

.tableRovnica{
	font-weight:bold;
	font-style:italic;
	text-align: center;
}

.loginPanelAHover{
  padding-top:2px;
  padding-bottom:2px;
  background:#AAAAAA;
  width:180px;
  -webkit-border-radius: 12px 0 0 12px;
  -moz-border-radius: 12px 0 0 12px;
  border-radius: 12px 0 0 12px;
}

.cell_cudlik_go{
  position:absolute;	
  margin-top:-450px;
  margin-left:60px;
  cursor: hand; 
}

.trafo_cudlik_go{
  position:absolute;	
  margin-top:-223px;
  margin-left:25px;
  cursor: hand; 
}

.polovodice_cudlik_go{
  position:absolute;	
  margin-top:-70px;
  margin-left:465px;
  cursor: hand;  
}

.vodice_cudlik_go{
  position:absolute;	
  margin-top:-60px;
  margin-left:350px;
  cursor: hand;  
}

.polovodice_cudlik_zmen_smer{
  position:absolute;	
  margin-top:-60px;
  margin-left:225px;	
  background-color:#768d87;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #566963;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:12px;
  font-weight:bold;
  padding:5px 8px;
  text-decoration:none;
}

.trafo_display_voltmeter{
  width: 76px;
  position:absolute;	
  margin-top:-223px;
  margin-left:652px;	
  text-align:center;
}

.display_voltmeter_e_cell{
  width: 76px;
  position:absolute;	
  margin-top:-493px;
  margin-left:362px;	
  text-align:center;
}

.display_ampermetra_input{
  width: 76px;
  position:absolute;	
  margin-top:-103px;
  margin-left:342px;	
  text-align:center;
}

.display_ampermetra_vodice{
  width: 76px;
  position:absolute;	
  margin-top:-103px;
  margin-left:522px;	
  text-align:center;
}

.display_ohmmetra_vodice{
  width: 628px;
  position:absolute;	
  margin-top:-485px;
  margin-left:66px;	
  text-align:center;
}

.okraj_pre_menu{
  border-radius:5px;
  border-left:   1px solid #839b4e;
  border-right:  1px solid #839b4e; 
  border-bottom: 1px solid #839b4e;
  background-color:#ffffff;
}
.xko_do_prava{
  float:right;
}

.cursor_hand{
	cursor: hand;
}
.alignCenter{
	margin:auto;
}
.alignRight{
	float: right;
}
.valignTop{
	vertical-align:top;
}
.alignJustify{
	text-align:justify;
}
.sedyText{
	font-style: italic;
	color:#777777;
}
.textAreaEditorTestov{
	width:650px;
	height:60px;
	resize: none;
}
.inputEditorTestov{
	width:120px;
}
.editorTestovPrvyStlpec{
	width:100px;
}
.width300{
	width:300px;
}
.width600{
	width:400px;
}
tr.editorTestovMedzeraMedziRiadkami td{
	padding-top:20px;
}
.myButton {
	background-color:#768d87;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #566963;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:5px 8px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#6c7c7c;
	cursor:hand;
}
.myButton:active {
	position:relative;
	top:1px;
}
.kzSpanU1{
	position:absolute;
	top:240px;
	left:15px;
}
.kzSpanU2{
	position:absolute;
	top:40px;
	left:445px;
}
.kzSpanU3{
	position:absolute;
	top:310px;
	left:445px;
}
.kzSpanU4{
	position:absolute;
	top:240px;
	left:595px;
}
.kzSpanR1{
	position:absolute;
	top:40px;
	left:320px;
}
.kzSpanR2{
	position:absolute;
	top:355px;
	left:370px;
}
.kzSpanR3{
	position:absolute;
	top:190px;
	left:445px;
}
.kzSpanR4{
	position:absolute;
	top:240px;
	left:275px;
}
.kzA1O0{
	position:absolute;
	top:387px;
	left:257px;
	width:76px;
	text-align:center;
}
.kzA2O0{
	position:absolute;
	top:387px;
	left:447px;
	width:76px;
	text-align:center;
}
.kzA3O0{
	position:absolute;
	top:297px;
	left:352px;
	width:76px;
	text-align:center;
}
.kzSpanR1O0{
	position:absolute;
	top:180px;
	left:225px;
}
.kzSpanR2O0{
	position:absolute;
	top:180px;
	left:605px;
}
.kzSpanR3O0{
	position:absolute;
	top:180px;
	left:415px;
}
.kzSpanU1O0{
	position:absolute;
	top:310px;
	left:240px;
}
.kzSpanU2O0{
	position:absolute;
	top:310px;
	left:620px;
}
.kzCudlikGo{
	position:absolute;
	top:450px;
	left:360px;
}
.kzInputText{
	width:40px;
	text-align:center;
}
.colorRed{
	background-color:#FF7755;
}
.colorGreen{
	background-color:#66FF77;
}
.colorBlue{
	background-color:#99DDEE;
}

